body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("four.jpg"); alt="An image of nature and various flowers.";
  min-height: 75%;
}

.menu {
  display: none;
}
